<% if notice %>
<p id="notice"><%= notice %>></p>
<% end %>

<h1>Products#index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Part Number</th>
      <th>Name</th>
      <th>Unit</th>
      <th>Price</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku %></td>
        <td><%= product.part_number %></td>
        <td><%= product.name %></td>
        <td><%= product.unit %></td>
        <td><%= product.price %></td>

        <td><%= link_to "Show", product %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Destroy", product, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to "New item", new_product_path, class: "btn btn-sm btn-primary" %>